# Prevenir listado de directorios
Options -Indexes

# Manejo de errores
ErrorDocument 404 /index.php
ErrorDocument 403 /index.php

# Redirigir todo a index.php excepto archivos existentes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Añadir seguridad adicional
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>